.nav_header{
    text-align: right;
    margin-left: 66%;
}
.lipadding{
    padding: 2%;
    margin: 0 5%;
}

.header{
    background-image:url("../img/headerImg.jpg") ;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
.divheader{
    padding-left: 14%;
    padding-top: 13%;
}
