.nav_header{
    
    margin-left: 30%;
}
.lipadding{
    padding: 2%;
    margin: 0 5%;
}

.header{
    background-image:url("../img/headerImg.jpg") ;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
.divheader{
    padding-left: 14%;
    padding-top: 13%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(246, 249, 250, 0.952);
    z-index: 1;
  }
.hrBetweenText{
    width: 20%;
     margin-left: 0px;
}
.divbackMain{
    margin-top: 10%;
    padding-left: 14%;
    padding-top: 10%; 
    padding-bottom: 2%;
    background-image:url("../img/mokasrat.jpg") ;
    background-size: 100% 500px;
}
.imgdiv{
    width: 33%;
    height: 370px;
    margin: 2px 0px;
}
/*---------------- menu page----------------------*/

.headerMenu{
    background-image: url("../img/headerImg.jpg");
    height: 230px;
    background-size: 100% 230px;
    
}
